<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106634695394-kqvctnino9cbbfd6jr4tj95oqtnt1vr4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106634695394-kqvctnino9cbbfd6jr4tj95oqtnt1vr4</string>
	<key>API_KEY</key>
	<string>AIzaSyClE0pDd2urkjGRypDyw7WR1TtIl9UYCJo</string>
	<key>GCM_SENDER_ID</key>
	<string>106634695394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ge.tbcbank.WeatherApp</string>
	<key>PROJECT_ID</key>
	<string>weatherapp-ff669</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherapp-ff669.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106634695394:ios:028bb4ab5e239a615984bb</string>
	<key>DATABASE_URL</key>
	<string>https://weatherapp-ff669.firebaseio.com</string>
</dict>
</plist>